@mainColor: blue;
@import "pizza/pizza-card";
@primary-color: #EA862E;
@right-panel-width: 320px;
.logo {
	width: 100px;
	height: 90px;
	color: #fff;
	margin-left: 10px;
	background-color: @primary-color;
	float: left;
	padding: 10px;
	text-align: center;
	position: relative;
}
.header-top-row {
	color: #A1A1A1;
}
.panel-top {
	background-color: rgba(10, 10, 10, 0.85); //#333331;
}
.header-foot-row {
	color: #fff;
	padding-top: 5px;
}
.logo-title-1 {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.logo-title-2 {
	font-size: 26px;
}
#discount-flag-top {
	position: absolute;
	margin-left: -10px;
	margin-top: 20px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
hr {
	margin: 0px;
	border-color: #A1A1A1;
}
.header-rows {
	padding-top: 10px;
	position: relative;
	padding-left: 120px;
	padding-right: 10px;
	margin-right: @right-panel-width;
}
.phone-number {
	font-size: 20px;
}
@media (max-width: 767px) {
	.phone-number {
		font-size: 15px;
	}
}
.sign-in {
	float: right;
	margin-top: -5px;
	border: 0;
}
.top-row-item {
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 10px;
}
.delivery-text {
	font-size: 17px;
}
.bottom-row-item {
	color: #fff;
	font-size: 17px;
	margin-left: 15px;
	margin-right: 15px;
}
.bottom-row-item:hover {
	color: #fff;
}
.discount-fixed-label {
	width: 100px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	color: #fff;
	position: fixed;
	margin-left: 10px;
	bottom: 0;
	background-color: @primary-color;
	z-index: 1;
	text-align: center;
}
#discount-flag-bottom {
	margin-top: -34px;
	margin-left: -10px;
}
.discount-label {
	font-size: 15px;
	font-weight: bold;
	margin-top: -5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #D16301;
	text-transform: uppercase;
}
.discount-text {
	font-size: 15px;
	font-weight: bold;
}
.sort-area {
	margin-bottom: 50px;
}
.main-title {
	margin-top: 120px;
	text-align: center;
}
#all-pizzas-counter {
	background-color: @primary-color;
}
.nav .pizza-filter a {
	color: @primary-color;
}
.nav .pizza-filter.active a {
	background-color: @primary-color;
}
.nav .pizza-filter.active a:hover {
	background-color: @primary-color;
}
.right-panel {
	position: fixed!important;
	width: @right-panel-width;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background-color: #fff;
	float: right;
	z-index: 10000;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.main-field {
	margin: 150px auto;
	//margin-left: 20px;
	padding-right: @right-panel-width+40px;
	max-width: 1300px;
}
.footer {
	margin-right: @right-panel-width;
	color: #A8A5A2;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.summary-top {
	height: 91px;
	padding: 30px 10px 5px 10px;
}
.summary-bottom {
	position: absolute;
	height: 130px;
	width: 100%;
	bottom: 0;
	background-color: #fff;
	padding: 10px 20px 10px 20px;
	vertical-align: middle;
}
.summary-main {
	background-color: #F5F5F5;
	height: 100%;
	overflow-y: auto;
}
#order-counter {
	background-color: @primary-color;
	margin-left: 5px;
}
.right-panel-title {
	font-weight: bold;
	font-size: 20px;
}
#clear-order {
	color: #A8A5A2;
	font-size: 13px;
	margin-left: 7px;
}
#clear-order:hover {
	cursor: pointer;
}
#summary-total-title {
	font-weight: bold;
	font-size: 17px;
}
.summary-total-counter,
#summary-total-counter {
	font-weight: bold;
	font-size: 20px;
	float: right;
	margin-left: 5px;
}
#summary-total {
	margin: 10px;
	min-height: 30px;
}
#order-btn {
	width: 100%;
	margin-top: 5px;
}
#gag-message {
	padding-top: 30px;
	text-align: center;
	font-size: 17px;
	color: gray;
}
.pizza-ordered-pic {
	position: absolute;
	right: -50px;
	height: 100px;
}
.pizza-ordered {
	height: 120px;
	position: relative;
	padding: 5px;
	border-bottom: 1px solid #eee;
}
.pizza-ordered-title {
	margin: 15px 20px 0 20px;
	color: @primary-color;
	font-size: 17px;
}
.ordered-size {
	float: left;
	margin-right: 20px;
}
.pizza-ordered-info {
	margin: 5px 20px 5px 20px;
}
.rm-btn {
	color: @primary-color;
	margin-left: 15px;
}
.pizza-ordered-pricing-space {
	padding: 5px 0 0 15px;
	font-size: 15px;
	font-weight: bold;
}
.ordered-price {
	margin-right: 20px;
}
.nav>li.pizza-filter>a:focus {
	color: #fff;
	background-color: @primary-color;
}
ul.nav-custom {
	max-width: 600px;
	margin: 0 auto;
}
.circle-btn {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	border-radius: 15px;
}
#filter-title {
	display: inline;
}
#edit-order-btn {
	width: 100%;
	min-height: 50px;
	margin-top: 5px;
	-moz-box-shadow: inset 0px 0px 30px #ccc;
	-webkit-box-shadow: inset 0px 0px 30px #ccc;
	box-shadow: inset 0px 0px 30px #ccc;
}
.non-editable-label {
	display: none;
}
.non-editable #clear-order,
.non-editable .btn-xs {
	display: none;
}
.non-editable .non-editable-label {
	display: inline;
}

.input-error {
	color: #d9534f;
	font-size: 13px;
	margin-left: 20%;
}
.footer-hr {
	border: 0.5px solid #EEE;
	margin-right: @right-panel-width;
}

.bs-callout {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}













.info {
	min-height: 150px;
}

.map-container {
	height: 250px;
	width: 100%;
	margin-top: 15px;
	border: 1px solid #eeeeee;
}

button#btn-next {
	font-weight: bold;
	width: 100px;
	margin-top: 25px;
	float: right;
	background-color: @primary-color;
}
button#btn-next:hover{
	background-color: #EC890E;
}



.form-container {
	clear: both;
}

.footer-wrapper {
	margin-top: 30px;
}



.info-title {
	font-weight: 100;
	font-size: 18px;
}

.info-label {
	font-weight: bold;
}

#info-delivery-time,
#info-address{
	font-weight: normal;
}





.form-title {
	font-size: 19px;
	font-weight: bold;
	margin-left: 15%;
	margin-bottom: 15px;
}



.main-container {
	padding-left: 20px;
}
