<% include common/header.ejs %>

	<div class="main-field">
		<div class="main-container">
			<div class="form-container">
				<h3>Контактні дані</h3>
				<br/>
				<div class="form-info-box">
					<form role="form" class="form-horizontal">
						<div class="form-group" id="name-grp">
							<label class="control-label col-sm-2" for="name">Ім'я</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="name-input" placeholder="Ім'я, прізвище" />
							</div>
							<span class="input-error" id="name-input-error" hidden>Введіть лише свої прізвище та ім'я</span>
							<span class="input-error" id="null-name-input-error" hidden>Заповніть це поле</span>
						</div>
						<div class="form-group" id="phone-grp">
							<label class="control-label col-sm-2" for="phone">Телефон</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="phone-input" placeholder="+380952225222" />
							</div>
							<span class="input-error" id="phone-input-error" hidden>Введіть номер телефону у форматі +380 або почніть з 0</span>
							<span class="input-error" id="null-phone-input-error" hidden>Заповніть це поле</span>
						</div>
						<div class="form-group" id="address-grp">
							<label class="control-label col-sm-2" for="address">Адреса</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="address-input" placeholder="м. Київ, вул. М.Цвєтаєвої, 14-Б" />
							</div>
							<span class="input-error" id="address-input-error" hidden>Введіть достовірну адресу</span>
							<span class="input-error" id="null-address-input-error" hidden>Заповніть поле адреси</span>
						</div>
					</form>


				</div>
			</div>
			<div class="map-container">
			<!-- map goes here! -->
			</div>
		</div>
		<div class="right-panel non-editable">
			<div class="summary-top">
				<span class="right-panel-title">Замовлення<span class="badge" id="order-counter">0</span></span>
				<span id="clear-order">Очистити замовлення</span>
			</div>
			<div class="summary-main" id='cart'>
				<!-- Cart of pizzas -->
			</div>
			<div class="summary-bottom">
				<div id="summary-total">
					<div id="summary-wrapper">
						<span id="summary-total-title">Сума замовлення</span>
						<span class="summary-total-counter">грн</span>
						<span id="summary-total-counter">0</span>
					</div>
				</div>
				<div class="btn btn-lg btn-default" id="edit-order-btn">Редагувати замовлення</div>
			</div>
		</div>
	</div>

	<% include common/footer.ejs %>
