<div class="footer-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
<hr class="footer-hr"/>
<div class="footer">Робота з курсу JavaScript
			<br/>by Alex Frankiv
			<br/>
		</div>
</div>
</div>
	<!-- jQuery JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js">


	</script>

	<!--Bootsrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!--Own JavaScript -->
	<script type="text/javascript" src="assets/js/main.js">


	</script>
</body>

</html>
